.App {
  margin: 0px;
  padding: 0px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/Assets/watercolor-galaxy.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}